<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать Персону</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <!-- Include your header here -->
    </header>
    <div class="lmenu main">
        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
            </div>
            <div>
                {{ form.age.label }}<br>
                {{ form.age(size=32) }}
            </div>
            <div>
                {{ form.main_info.label }}<br>
                {{ form.main_info(size=32) }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
</body>
</html>
