<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База данных</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <header>
        <img src="static\img\main\logo.png" class="logo" alt="Описание изображения">
            <div class="block_up">
                <a class="button_up" href="{{ url_for('index') }}">Home</a>
                <a class="help button_up" href="{{ url_for('add_person') }}">Add Person</a>                 
            </div>
                <form action="/search">
                    <input type="text" name="query" placeholder="Поиск" class="search-button">
                </form>
                
            <img src="static\img\main\ava.png" class="ava" alt="Описание изображения">
    </header>



<div class="lmenu main">
    <form action="/create-tovar-page" method="post">
        <a class="button button_lmenu" href="{{ url_for('add_person') }}">Добавить человека</a> 
    </form>
    <form action="/create-user-page" method="post">
        <a class="button button_lmenu" href="{{ url_for('add_person') }}">Добавить человека</a> 
    </form>
    <form action="/money" method="post">
        <a class="button button_lmenu" href="{{ url_for('add_person') }}">Добавить человека</a> 
    </form>
    <form action="/help" method="get">
        <a class="button button_lmenu" href="{{ url_for('add_person') }}">Добавить человека</a> 
    </form>
</div>
{% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
{% endfor %}

<main>
    <h2 class="title">Люди</h2>
    {% for person in people %}
    <a href="{{ url_for('person_detail', person_id=person.id) }}" class="person-link">
        <div class="person-block">
            {% if person.photo %}
                <img class="person-photo" src="{{ url_for('static', filename='uploads/' + person.photo) }}" alt="Profile Picture">
            {% else %}
                <img class="person-photo" src="{{ url_for('static', filename='uploads/default.png') }}" alt="Profile Picture">
            {% endif %}

            <div class="person-info">
                <div class="person-details">
                    <div class="person-info-left">
                        <p class="person-name">Имя: {{ person.name }}</p>
                        <p class="person-age">Возраст: {{ person.age }}</p>
                        <p class="person-main-info">Информация:{{ person.main_info }}</p>
                    </div>
                    <div class="person-info-right">
                        <p class="person-phone">Телефон: {{ person.phone_number }}</p>
                        <p class="person-address">Адрес: {{ person.address }}</p>
                    </div>
                </div>
                <div class="person-buttons">
                    <a class="help delete-button" href="{{ url_for('person_detail', person_id=person.id) }}">Add Note</a>
                    <a class="basket delete-button" href="{{ url_for('edit_person', person_id=person.id) }}">Edit</a>
                    <a class="delete delete-button" href="{{ url_for('delete_person', person_id=person.id) }}">Delete</a>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</main>



<!-- <footer>
    <div class="foot">
        <h2 class="title">RedLine Market 2024</h2>
    </div>
</footer> -->

</body>
</html>
